
html,body {
    background-color: #cecece;
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
}
/* The following 3 lines of code were taken from https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
.pagecontainer {
    position: relative;
    min-height: 100vh;
}
/* header */
header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, #000000 50%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
    contain: content;
}
#burgermenu {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    visibility: hidden;
}
.headcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
}
#headbutton1 {
    grid-column: 2;
    grid-row: 2;
}
#headbutton2 {
    grid-column: 3;
    grid-row: 2;
}
#headbutton3 {
    grid-column: 4;
    grid-row: 2;
}
#headbutton1,#headbutton2,#headbutton3 {
    font-family: 'Andale Mono', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}
#selogo {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/5;
    grid-row: 1;
    width: 450px;
    height: auto;
    max-width: 100%;
    max-height: auto;
}
/* bodywrap */
.wrap {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* footer */
footer {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, #000000 50%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
}
.footcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}
#footinfo {
    font-family: 'Andale Mono', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    grid-column: 3;
    place-self: center;
}
.container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
}
.detailcard {
    grid-column: 2;
    width: 300px;
    height: 400px;
    box-shadow: -5px -5px 25px #FFFFFF, 5px 5px 25px rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    border-radius: 25px;
    background-color: #ffffff;
    contain: content;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.detailcardpic {
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.detailcardtext {
    font-family: 'Andale Mono', Arial, Helvetica, sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 540px;
    left: 18px;
}
.card,.card2,.card3,.card4,.card5 {
    width: 200px;
    height: 300px;
    box-shadow: -5px -5px 25px #FFFFFF, 5px 5px 25px rgba(0, 0, 0, 0.5);
    margin-top: 20%;
    border-radius: 25px;
    background-color: #ffffff;
    contain: content;
    overflow: hidden;
}
.card:hover,.card2:hover,.card3:hover,.card4:hover,.card5:hover {
    transform: scale(1.04);
}
/* specific margins for cards */
.card {
    margin-left: auto;
    margin-right: 10px;
}
.card3 {
    margin-right: auto;
    margin-left: 10px;
}
.card2,.card4,.card5 {
    margin-left: auto;
    margin-right: auto;
}
/* Margins for bottom and top */
.card,.card2,.card3 {
    margin-top: 50px;
    margin-bottom: 30px;
}
.card4,.card5 {
    margin-top: 30px;
    margin-bottom: 50px;
}
.card {
    grid-column: 1;
    }
.card2 {
    grid-column: 2;
   
    }
.card3 {
        grid-column: 3;
        }
        .card4 {
            grid-column: 1/3;
            grid-row: 2;
            }
            .card5 {
                grid-column: 2/4;
                grid-row: 2;
                }
.cardtext {
    font-family: 'Andale Mono', Arial, Helvetica, sans-serif;
    font-size: 10pt;
    position: absolute;
    top: 190px;
    left: 18px;
}
.carddesc {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
}
.cardpic {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#body {
    grid-column: 2;
}
h3{
    grid-column: 2;
}
@media screen and (max-width: 870px) and (min-width: 545px)  {
    /* header */
header {
    height: 70px;
    position: absolute;
    top: 0px;
    contain: content;
}
.headcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
}
#selogo {
    grid-column: 1/4;
    grid-row: 1/3;
    width: 400px;
    height: auto;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 10px;
}
#headbutton1 {
    grid-column: 4;
    grid-row: 1;
}
#headbutton2 {
    grid-column: 5;
    grid-row: 1;
}
#headbutton3 {
    grid-column: 4/6;
    grid-row: 2;
}
#headbutton1,#headbutton2,#headbutton3 {
    font-size: 10pt;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
.wrap {
    padding-top: 70px;
    padding-bottom: 70px;
}
#body {
 grid-column: 2/4;
}
footer {
    height: 70px;
}
.container {
    display: grid;
grid-template-columns: repeat(4, 1fr);
    }
    .card {
        margin-left: auto;
        margin-right: 10px;
    }
    .card2,.card4 {
        margin-left: 10px;
        margin-right: auto;
    }
    .card3 {
        margin-left: auto;
        margin-right: 10px;
    }
    .card5 {
        margin-left: auto;
    margin-right: auto;
    }
    .detailcard {
        grid-column: 2/4;
    }
    /* Margins for bottom and top */
    .card,.card2 {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .card3,.card4 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .card5 {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    /* grid columns for cards */
    .card {
        grid-column: 2;
        }
        .card2 {
            grid-column: 3;
            }
        .card3 {
                grid-column: 2;
                }
                .card4 {
                    grid-column: 3;
                    }
                .card5 {
                        grid-column: 2/4;
                        grid-row: 3;
                        }
}
@media screen and (max-width: 670px) {
    #headbutton1,#headbutton2,#headbutton3 {
        visibility: hidden;
    }
    #burgermenu {
        visibility: visible;
    }
}
@media screen and (max-width: 545px)  {
        /* header */
header {
    height: 70px;
    position: absolute;
    top: 0px;
    contain: content;
}
.headcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#selogo {
    grid-column: 1/4;
    width: 300px;
    height: auto;
    margin-left:20px ;
    margin-bottom: 20px;
    place-self: center;
}
    .card,.card2,.card3,.card4,.card5 {
        margin-left: auto;
        margin-right: auto;
    }
    /* Margins for cards */
    .card {
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .card2,.card3,.card4 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .card5 {
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .card,.card2,.card3,.card4,.card5 {
        margin-left: auto;
        margin-right: auto;
    }
    /* grid positions for cards */
    .card {
        grid-column: 3;
        }
        .card2 {
            grid-column: 3;
            grid-row: 2;
            }
        .card3 {
                grid-column: 3;
                grid-row: 3;
                }
                .card4 {
                    grid-column: 3;
                    grid-row: 4;
                    }
                .card5 {
                        grid-column: 3;
                        grid-row: 5;
                        }
        .container {
        display: grid;
    grid-template-columns: repeat(5, 1fr);
        }
        #body {
            grid-column: 2/5;
        }
}